$o-theme-font-size-base: (14 / 16) * 1rem;

$o-gray-color-palettes: (
    (
        'white': #FFFFFF,
        '100': #f8f9fa,
        '200': #e9ecef,
        '300': #dee2e6,
        '400': #ced4da,
        '500': #adb5bd,
        '600': #6c757d,
        '700': #495057,
        '800': #343a40,
        '900': #212529,
        'black': #000000,
    ),
);

// Colors: (menu, footer, h1...h6, ...)
$o-color-palettes: ();
@each $-palette in $o-gray-color-palettes {
    $o-color-palettes: append($o-color-palettes, (
        'menu': map-get($-palette, 'white'),
        'preheader': map-get($-palette, '800'),
        'footer': map-get($-palette, '200'),
        'text': map-get($-palette, '600'),
        'h1': map-get($-palette, '800'),
        'h2': map-get($-palette, '800'),
        'h3': map-get($-palette, '800'),
        'h4': map-get($-palette, '800'),
        'h5': map-get($-palette, '800'),
        'h6': map-get($-palette, '800'),
    ));
}

// Theme colors
$o-theme-color-palettes: (
    (
        'alpha': #0073e1,
        'beta': #F3F5F9,
        'gamma': #42d697,
        'delta': #fea569,
        'epsilon': #f34770,

        'dark': #222,
    ),
);

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-fonts: (
    (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"),
    ('Open Sans', sans-serif),
    ('Rubik', sans-serif),
    ('Poppins', sans-serif),
    ('Roboto', sans-serif),
    ('Oswald', sans-serif),
);
$o-theme-font-urls: (
    null,
    'Open+Sans:300,300i,400,400i,600,600i,700,700i',
    'Rubik:300,300i,400,400i,500,500i,700,700i',
    'Poppins:300,300i,400,400i,500,500i,600,600i,700,700i',
    'Roboto:300,300i,400,400i,500,500i,700,700i',
    'Oswald:300,400,500,600,700',
);
$o-theme-font-names: (
    'Bootstrap',
    'Open Sans',
    'Rubik',
    'Poppins',
    'Roboto',
    'Oswald',
);

//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-theme-color-palette-number: 1;

$o-website-values-palettes: (
    (
        'font-number': 5,
        'headings-font-number': 4,
        'buttons-font-number': 4,
        'navbar-font-number': 4,
    ),
);
